{# Navigation Menu Partial #}
{% set active_classes = 'is-active' %}
{% set nav_path = current_path ?? (current_path() ?? '') %}

<ul class="menu menu-sm gap-1">
    <li class="menu-title">
        <span>Main</span>
    </li>
    {% if can.dashboard_access %}
    <li>
        <a href="/admin/dashboard" class="rounded-md {{ nav_path == '/admin/dashboard' or nav_path == '/admin' ? active_classes : '' }}">
            <i class="fa-solid fa-house text-lg"></i>
            Dashboard
        </a>
    </li>
    {% endif %}
    
    {% if can.packages_manage or can.shops_manage or can.users_manage or can.subscriptions_manage or can.support_sudo %}
    <li class="menu-title">
        <span>Management</span>
    </li>
    {% endif %}
    {% if can.packages_manage %}
    <li>
        <a href="/admin/packages" class="rounded-md {{ nav_path starts with '/admin/packages' ? active_classes : '' }}">
            <i class="fa-solid fa-box text-lg"></i>
            Packages
        </a>
    </li>
    {% endif %}
    {% if can.shops_manage %}
    <li>
        <a href="/admin/shops" class="rounded-md {{ nav_path starts with '/admin/shops' ? active_classes : '' }}">
            <i class="fa-solid fa-bag-shopping text-lg"></i>
            Shops
        </a>
    </li>
    {% endif %}
    {% if can.support_sudo %}
    <li>
        <a href="/admin/sudo" class="rounded-md {{ nav_path starts with '/admin/sudo' ? active_classes : '' }}">
            <i class="fa-solid fa-user-shield text-lg"></i>
            Sudo Login
        </a>
    </li>
    {% endif %}
    {% if can.users_manage %}
    <li>
        <a href="/admin/users" class="rounded-md {{ nav_path starts with '/admin/users' ? active_classes : '' }}">
            <i class="fa-solid fa-users text-lg"></i>
            Users
        </a>
    </li>
    {% endif %}
    {% if can.setup_access %}
    <li class="menu-title">
        <span>Basic Setup</span>
    </li>
    <li>
        <a href="/admin/setup/basic" class="rounded-md {{ nav_path starts with '/admin/setup/basic' ? active_classes : '' }}">
            <i class="fa-solid fa-bars text-lg"></i>
            Basic
        </a>
    </li>
    <li>
        <a href="/admin/setup/seo" class="rounded-md {{ nav_path starts with '/admin/setup/seo' ? active_classes : '' }}">
            <i class="fa-solid fa-clock text-lg"></i>
            SEO
        </a>
    </li>
    <li>
        <a href="/admin/setup/topbar" class="rounded-md {{ nav_path starts with '/admin/setup/topbar' ? active_classes : '' }}">
            <i class="fa-solid fa-bars-staggered text-lg"></i>
            Top Bar
        </a>
    </li>
    <li>
        <a href="/admin/setup/hero" class="rounded-md {{ nav_path starts with '/admin/setup/hero' ? active_classes : '' }}">
            <i class="fa-solid fa-image text-lg"></i>
            Hero
        </a>
    </li>
    <li>
        <a href="/admin/setup/home" class="rounded-md {{ nav_path starts with '/admin/setup/home' ? active_classes : '' }}">
            <i class="fa-solid fa-house text-lg"></i>
            Home
        </a>
    </li>
    <li>
        <a href="/admin/pages" class="rounded-md {{ nav_path starts with '/admin/pages' ? active_classes : '' }}">
            <i class="fa-solid fa-file-lines text-lg"></i>
            Pages
        </a>
    </li>
    <li>
        <a href="/admin/menus" class="rounded-md {{ nav_path starts with '/admin/menus' ? active_classes : '' }}">
            <i class="fa-solid fa-bars text-lg"></i>
            Menus
        </a>
    </li>
    <li>
        <a href="/admin/setup/footer" class="rounded-md {{ nav_path starts with '/admin/setup/footer' ? active_classes : '' }}">
            <i class="fa-solid fa-window-minimize text-lg"></i>
            Footer
        </a>
    </li>
    <li>
        <a href="/admin/setup/themes" class="rounded-md {{ nav_path starts with '/admin/setup/themes' ? active_classes : '' }}">
            <i class="fa-solid fa-palette text-lg"></i>
            Themes
        </a>
    </li>
    <li>
        <a href="/admin/setup/customer-auth" class="rounded-md {{ nav_path starts with '/admin/setup/customer-auth' ? active_classes : '' }}">
            <i class="fa-solid fa-right-to-bracket text-lg"></i>
            Customer Login
        </a>
    </li>
    <li>
        <a href="/admin/setup/email" class="rounded-md {{ nav_path starts with '/admin/setup/email' ? active_classes : '' }}">
            <i class="fa-solid fa-envelope text-lg"></i>
            Email
        </a>
    </li>
    {% endif %}
</ul>
